Win_Hunde/Connected Services/ProxyTipoPaciente/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
  <xs:element name="listarTipos">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarTiposResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="listarTiposResult" nillable="true" type="q1:ArrayOfTipoPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPorRaza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codRaza" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoPorRazaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="TipoPorRazaResult" nillable="true" type="q2:TipoPaciente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>