Win_Hunde/Connected Services/ProxyTipoPaciente/WCF_Hunde.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hunde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTipoPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoPaciente" nillable="true" type="tns:TipoPaciente" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoPaciente" nillable="true" type="tns:ArrayOfTipoPaciente" />
  <xs:complexType name="TipoPaciente">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_tipo" type="xs:short" />
      <xs:element minOccurs="0" name="nom_tipo" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoPaciente" nillable="true" type="tns:TipoPaciente" />
</xs:schema>