Win_Hunde/Connected Services/ProxyRol/WCF_Hunde.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hunde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRol">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Rol" nillable="true" type="tns:Rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRol" nillable="true" type="tns:ArrayOfRol" />
  <xs:complexType name="Rol">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_rol" type="xs:short" />
      <xs:element minOccurs="0" name="nom_rol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Rol" nillable="true" type="tns:Rol" />
</xs:schema>