Web_Hunde/Connected Services/ProxyProveedor/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioProveedor" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioProveedor_ConsultarProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProveedor" />
  </wsdl:message>
  <wsdl:message name="IServicioProveedor_ConsultarProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProveedor_ConsultarSupervisor_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSupervisor" />
  </wsdl:message>
  <wsdl:message name="IServicioProveedor_ConsultarSupervisor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarSupervisorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProveedor_ConsultarMedicinaProveedor_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMedicinaProveedor" />
  </wsdl:message>
  <wsdl:message name="IServicioProveedor_ConsultarMedicinaProveedor_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarMedicinaProveedorResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioProveedor_ConsultarEstadoProveedorMedicina_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstadoProveedorMedicina" />
  </wsdl:message>
  <wsdl:message name="IServicioProveedor_ConsultarEstadoProveedorMedicina_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEstadoProveedorMedicinaResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioProveedor">
    <wsdl:operation name="ConsultarProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProveedor/ConsultarProveedor" message="tns:IServicioProveedor_ConsultarProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProveedor/ConsultarProveedorResponse" message="tns:IServicioProveedor_ConsultarProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarSupervisor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProveedor/ConsultarSupervisor" message="tns:IServicioProveedor_ConsultarSupervisor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProveedor/ConsultarSupervisorResponse" message="tns:IServicioProveedor_ConsultarSupervisor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarMedicinaProveedor">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProveedor/ConsultarMedicinaProveedor" message="tns:IServicioProveedor_ConsultarMedicinaProveedor_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProveedor/ConsultarMedicinaProveedorResponse" message="tns:IServicioProveedor_ConsultarMedicinaProveedor_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstadoProveedorMedicina">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioProveedor/ConsultarEstadoProveedorMedicina" message="tns:IServicioProveedor_ConsultarEstadoProveedorMedicina_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioProveedor/ConsultarEstadoProveedorMedicinaResponse" message="tns:IServicioProveedor_ConsultarEstadoProveedorMedicina_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioProveedor" type="tns:IServicioProveedor">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarProveedor">
      <soap:operation soapAction="http://tempuri.org/IServicioProveedor/ConsultarProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSupervisor">
      <soap:operation soapAction="http://tempuri.org/IServicioProveedor/ConsultarSupervisor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarMedicinaProveedor">
      <soap:operation soapAction="http://tempuri.org/IServicioProveedor/ConsultarMedicinaProveedor" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEstadoProveedorMedicina">
      <soap:operation soapAction="http://tempuri.org/IServicioProveedor/ConsultarEstadoProveedorMedicina" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioProveedor">
    <wsdl:port name="BasicHttpBinding_IServicioProveedor" binding="tns:BasicHttpBinding_IServicioProveedor">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Hunde/ServicioProveedor/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>