Web_Hunde/Connected Services/ProxyProveedor/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
  <xs:element name="ConsultarProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCod" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultarProveedorResult" nillable="true" type="q1:ProveedorBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSupervisor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strRepVenProv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarSupervisorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultarSupervisorResult" nillable="true" type="q2:ArrayOfProveedorBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMedicinaProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="srtTipoMedicina" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMedicinaProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultarMedicinaProveedorResult" nillable="true" type="q3:ArrayOfProveedorBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstadoProveedorMedicina">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strEstadoProveedor" type="xs:short" />
        <xs:element minOccurs="0" name="strTipoMedicina" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarEstadoProveedorMedicinaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultarEstadoProveedorMedicinaResult" nillable="true" type="q4:ArrayOfEstadosBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>