Win_Hunde/Connected Services/ProxyMedicina/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
  <xs:element name="ConsultarMedicinaProveedor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codProv" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarMedicinaProveedorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultarMedicinaProveedorResult" nillable="true" type="q1:ArrayOfMedicina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicinas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarMedicinasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ListarMedicinasResult" nillable="true" type="q2:ArrayOfMedicina" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>