Win_Hunde/Connected Services/ProxyMedicina/WCF_Hunde.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hunde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMedicina">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Medicina" nillable="true" type="tns:Medicina" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMedicina" nillable="true" type="tns:ArrayOfMedicina" />
  <xs:complexType name="Medicina">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_med" type="xs:short" />
      <xs:element minOccurs="0" name="nombre_medicina" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="precio" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Medicina" nillable="true" type="tns:Medicina" />
</xs:schema>