Win_Hunde/Connected Services/ProxyConsulta/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
  <xs:element name="ConsultasPorMascota">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoMascota" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasPorMascotaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultasPorMascotaResult" nillable="true" type="q1:ArrayOfConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasPorMedico">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoMedico" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasPorMedicoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultasPorMedicoResult" nillable="true" type="q2:ArrayOfConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasPorFecha">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaConsulta" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasPorFechaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultasPorFechaResult" nillable="true" type="q3:ArrayOfConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntreFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="fechaIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EntreFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="EntreFechasResult" nillable="true" type="q4:ArrayOfConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasPorMascotaEntreFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoMascota" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasPorMascotaEntreFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultasPorMascotaEntreFechasResult" nillable="true" type="q5:ArrayOfConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasPorMedicoEntreFechas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoMedico" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fechaIni" type="xs:dateTime" />
        <xs:element minOccurs="0" name="fechaFin" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultasPorMedicoEntreFechasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultasPorMedicoEntreFechasResult" nillable="true" type="q6:ArrayOfConsulta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarCita">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FechaHora" type="xs:dateTime" />
        <xs:element minOccurs="0" name="codigoCliente" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReservarCitaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReservarCitaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="cita" nillable="true" type="q7:Cita" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ActualizarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ActualizarReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarReserva">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoCita" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarReservaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelarReservaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoPaciente" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoEmpleado" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="codigoCita" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GenerarConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GenerarConsultaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConsulta" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CancelarConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CancelarConsultaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDetallesDeConsulta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codigoConsulta" type="xs:short" />
        <xs:element minOccurs="0" name="codigoTratamiento" type="xs:short" />
        <xs:element minOccurs="0" name="codigoEstado" type="xs:short" />
        <xs:element minOccurs="0" name="codigoMedicina" type="xs:short" />
        <xs:element minOccurs="0" name="observaciones" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AgregarDetallesDeConsultaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AgregarDetallesDeConsultaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>