Win_Hunde/Connected Services/ProxyPaciente/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioPaciente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioPaciente_ConsultarPacientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPacientes" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ConsultarPacientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ConsultarPacientesPorRaza_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPacientesPorRaza" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ConsultarPacientesPorRaza_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPacientesPorRazaResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ConsultarPacientesPorTratamiento_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPacientesPorTratamiento" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ConsultarPacientesPorTratamiento_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarPacientesPorTratamientoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ListarPacientesDetallados_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPacientesDetallados" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ListarPacientesDetallados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPacientesDetalladosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ListarPacientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarPacientes" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ListarPacientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarPacientesResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_InsertarPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPaciente" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_InsertarPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarPacienteResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ActualizarPaciente_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPaciente" />
  </wsdl:message>
  <wsdl:message name="IServicioPaciente_ActualizarPaciente_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarPacienteResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioPaciente">
    <wsdl:operation name="ConsultarPacientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPaciente/ConsultarPacientes" message="tns:IServicioPaciente_ConsultarPacientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPaciente/ConsultarPacientesResponse" message="tns:IServicioPaciente_ConsultarPacientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPacientesPorRaza">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPaciente/ConsultarPacientesPorRaza" message="tns:IServicioPaciente_ConsultarPacientesPorRaza_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPaciente/ConsultarPacientesPorRazaResponse" message="tns:IServicioPaciente_ConsultarPacientesPorRaza_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarPacientesPorTratamiento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPaciente/ConsultarPacientesPorTratamiento" message="tns:IServicioPaciente_ConsultarPacientesPorTratamiento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPaciente/ConsultarPacientesPorTratamientoResponse" message="tns:IServicioPaciente_ConsultarPacientesPorTratamiento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPacientesDetallados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPaciente/ListarPacientesDetallados" message="tns:IServicioPaciente_ListarPacientesDetallados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPaciente/ListarPacientesDetalladosResponse" message="tns:IServicioPaciente_ListarPacientesDetallados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarPacientes">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPaciente/ListarPacientes" message="tns:IServicioPaciente_ListarPacientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPaciente/ListarPacientesResponse" message="tns:IServicioPaciente_ListarPacientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertarPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPaciente/InsertarPaciente" message="tns:IServicioPaciente_InsertarPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPaciente/InsertarPacienteResponse" message="tns:IServicioPaciente_InsertarPaciente_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarPaciente">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioPaciente/ActualizarPaciente" message="tns:IServicioPaciente_ActualizarPaciente_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioPaciente/ActualizarPacienteResponse" message="tns:IServicioPaciente_ActualizarPaciente_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioPaciente" type="tns:IServicioPaciente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarPacientes">
      <soap:operation soapAction="http://tempuri.org/IServicioPaciente/ConsultarPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPacientesPorRaza">
      <soap:operation soapAction="http://tempuri.org/IServicioPaciente/ConsultarPacientesPorRaza" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarPacientesPorTratamiento">
      <soap:operation soapAction="http://tempuri.org/IServicioPaciente/ConsultarPacientesPorTratamiento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPacientesDetallados">
      <soap:operation soapAction="http://tempuri.org/IServicioPaciente/ListarPacientesDetallados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarPacientes">
      <soap:operation soapAction="http://tempuri.org/IServicioPaciente/ListarPacientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertarPaciente">
      <soap:operation soapAction="http://tempuri.org/IServicioPaciente/InsertarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarPaciente">
      <soap:operation soapAction="http://tempuri.org/IServicioPaciente/ActualizarPaciente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioPaciente">
    <wsdl:port name="BasicHttpBinding_IServicioPaciente" binding="tns:BasicHttpBinding_IServicioPaciente">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Hunde/ServicioPaciente/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>