Win_Hunde/Connected Services/ProxyPaciente/WCF_Hunde.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hunde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfPacienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PacienteBE" nillable="true" type="tns:PacienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacienteBE" nillable="true" type="tns:ArrayOfPacienteBE" />
  <xs:complexType name="PacienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cod_pac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Est_pac" type="xs:int" />
      <xs:element minOccurs="0" name="Fec_nac_pac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Foto" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Longitud" type="xs:decimal" />
      <xs:element minOccurs="0" name="Nom_pac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Peso" type="xs:decimal" />
      <xs:element minOccurs="0" name="Raza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sexo" type="xs:int" />
      <xs:element minOccurs="0" name="Tipo_pac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ult_vis_pac" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacienteBE" nillable="true" type="tns:PacienteBE" />
</xs:schema>