Win_Hunde/Connected Services/ProxyPaciente/WCF_Hunde.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hunde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PacienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_color" type="xs:short" />
      <xs:element minOccurs="0" name="cod_pac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_raza" type="xs:short" />
      <xs:element minOccurs="0" name="color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="est_pac" type="xs:int" />
      <xs:element minOccurs="0" name="fec_nac_pac" type="xs:dateTime" />
      <xs:element minOccurs="0" name="foto" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="longitud" type="xs:double" />
      <xs:element minOccurs="0" name="nom_pac" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="observaciones" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="peso" type="xs:double" />
      <xs:element minOccurs="0" name="raza" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sexo" type="xs:short" />
      <xs:element minOccurs="0" name="str_sexo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ult_vis_pac" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PacienteBE" nillable="true" type="tns:PacienteBE" />
  <xs:complexType name="ArrayOfPacienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PacienteBE" nillable="true" type="tns:PacienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPacienteBE" nillable="true" type="tns:ArrayOfPacienteBE" />
</xs:schema>