Win_Hunde/Connected Services/ProxyEmpleado/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioEmpleado" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioEmpleado_InsertarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_InsertarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ConsultarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ConsultarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ActualizarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ActualizarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:ActualizarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_EliminarEmpleado_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmpleado" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_EliminarEmpleado_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarEmpleadoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ListarEmpleados_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpleados" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ListarEmpleados_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarEmpleadosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ListarSupervisores_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarSupervisores" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_ListarSupervisores_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarSupervisoresResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_EmpleadosPorDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadosPorDepartamento" />
  </wsdl:message>
  <wsdl:message name="IServicioEmpleado_EmpleadosPorDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EmpleadosPorDepartamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioEmpleado">
    <wsdl:operation name="InsertarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/InsertarEmpleado" message="tns:IServicioEmpleado_InsertarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/InsertarEmpleadoResponse" message="tns:IServicioEmpleado_InsertarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/ConsultarEmpleado" message="tns:IServicioEmpleado_ConsultarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/ConsultarEmpleadoResponse" message="tns:IServicioEmpleado_ConsultarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/ActualizarEmpleado" message="tns:IServicioEmpleado_ActualizarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/ActualizarEmpleadoResponse" message="tns:IServicioEmpleado_ActualizarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarEmpleado">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/EliminarEmpleado" message="tns:IServicioEmpleado_EliminarEmpleado_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/EliminarEmpleadoResponse" message="tns:IServicioEmpleado_EliminarEmpleado_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarEmpleados">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/ListarEmpleados" message="tns:IServicioEmpleado_ListarEmpleados_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/ListarEmpleadosResponse" message="tns:IServicioEmpleado_ListarEmpleados_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListarSupervisores">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/ListarSupervisores" message="tns:IServicioEmpleado_ListarSupervisores_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/ListarSupervisoresResponse" message="tns:IServicioEmpleado_ListarSupervisores_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EmpleadosPorDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioEmpleado/EmpleadosPorDepartamento" message="tns:IServicioEmpleado_EmpleadosPorDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioEmpleado/EmpleadosPorDepartamentoResponse" message="tns:IServicioEmpleado_EmpleadosPorDepartamento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioEmpleado" type="tns:IServicioEmpleado">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/InsertarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/ConsultarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/ActualizarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarEmpleado">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/EliminarEmpleado" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarEmpleados">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/ListarEmpleados" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListarSupervisores">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/ListarSupervisores" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EmpleadosPorDepartamento">
      <soap:operation soapAction="http://tempuri.org/IServicioEmpleado/EmpleadosPorDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioEmpleado">
    <wsdl:port name="BasicHttpBinding_IServicioEmpleado" binding="tns:BasicHttpBinding_IServicioEmpleado">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Hunde/ServicioEmpleado/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>