Win_Hunde/Connected Services/ProxyEmpleado/WCF_Hunde.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hunde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Empleado">
    <xs:sequence>
      <xs:element minOccurs="0" name="ape_emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_rol" type="xs:short" />
      <xs:element minOccurs="0" name="cod_supervisor" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="departamento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dir_emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="distrito" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email_emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_emp" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha_ingreso" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_reg_emp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_ult_modificacion_emp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_ape" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="provincia" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="sueldo" type="xs:short" />
      <xs:element minOccurs="0" name="sup" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_emp" type="xs:short" />
      <xs:element minOccurs="0" name="us_ureg_emp" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usu_ult_modificacion_emp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Empleado" nillable="true" type="tns:Empleado" />
  <xs:complexType name="ArrayOfEmpleado">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Empleado" nillable="true" type="tns:Empleado" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEmpleado" nillable="true" type="tns:ArrayOfEmpleado" />
</xs:schema>