Win_Hunde/Connected Services/ProxyUbigeo/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServicioUbigeo" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServicioUbigeo_UbigeoDepartamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:UbigeoDepartamentos" />
  </wsdl:message>
  <wsdl:message name="IServicioUbigeo_UbigeoDepartamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:UbigeoDepartamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUbigeo_Ubigeo_ProvinciasDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:Ubigeo_ProvinciasDepartamento" />
  </wsdl:message>
  <wsdl:message name="IServicioUbigeo_Ubigeo_ProvinciasDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ubigeo_ProvinciasDepartamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IServicioUbigeo_Ubigeo_DistritosProvinciaDepartamento_InputMessage">
    <wsdl:part name="parameters" element="tns:Ubigeo_DistritosProvinciaDepartamento" />
  </wsdl:message>
  <wsdl:message name="IServicioUbigeo_Ubigeo_DistritosProvinciaDepartamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:Ubigeo_DistritosProvinciaDepartamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IServicioUbigeo">
    <wsdl:operation name="UbigeoDepartamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUbigeo/UbigeoDepartamentos" message="tns:IServicioUbigeo_UbigeoDepartamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUbigeo/UbigeoDepartamentosResponse" message="tns:IServicioUbigeo_UbigeoDepartamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ubigeo_ProvinciasDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUbigeo/Ubigeo_ProvinciasDepartamento" message="tns:IServicioUbigeo_Ubigeo_ProvinciasDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUbigeo/Ubigeo_ProvinciasDepartamentoResponse" message="tns:IServicioUbigeo_Ubigeo_ProvinciasDepartamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Ubigeo_DistritosProvinciaDepartamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IServicioUbigeo/Ubigeo_DistritosProvinciaDepartamento" message="tns:IServicioUbigeo_Ubigeo_DistritosProvinciaDepartamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServicioUbigeo/Ubigeo_DistritosProvinciaDepartamentoResponse" message="tns:IServicioUbigeo_Ubigeo_DistritosProvinciaDepartamento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServicioUbigeo" type="tns:IServicioUbigeo">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="UbigeoDepartamentos">
      <soap:operation soapAction="http://tempuri.org/IServicioUbigeo/UbigeoDepartamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ubigeo_ProvinciasDepartamento">
      <soap:operation soapAction="http://tempuri.org/IServicioUbigeo/Ubigeo_ProvinciasDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Ubigeo_DistritosProvinciaDepartamento">
      <soap:operation soapAction="http://tempuri.org/IServicioUbigeo/Ubigeo_DistritosProvinciaDepartamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServicioUbigeo">
    <wsdl:port name="BasicHttpBinding_IServicioUbigeo" binding="tns:BasicHttpBinding_IServicioUbigeo">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WCF_Hunde/ServicioUbigeo/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>