Win_Hunde/Connected Services/ProxyProveedor/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
  <xs:element name="ConsultarProveedores">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProveedoresResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultarProveedoresResult" nillable="true" type="q1:ArrayOfProveedorBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProveedorPorCodigo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="strCodigo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultarProveedorPorCodigoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="ConsultarProveedorPorCodigoResult" nillable="true" type="q2:ProveedorBE" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>