Win_Hunde/Connected Services/ProxyProveedor/WCF_Hunde.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hunde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProveedorBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProveedorBE" nillable="true" type="tns:ProveedorBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProveedorBE" nillable="true" type="tns:ArrayOfProveedorBE" />
  <xs:complexType name="ProveedorBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_prov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dir_prov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email_prov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_prov" type="xs:int" />
      <xs:element minOccurs="0" name="fec_reg_prov" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fec_ult_mod" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="raz_soc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rep_ven_prov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ruc_prov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tel_prov" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usu_reg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usu_ult_mod" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProveedorBE" nillable="true" type="tns:ProveedorBE" />
</xs:schema>