Win_Hunde/Connected Services/ProxyRaza/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" />
  <xs:element name="listarRazas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="listarRazasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="listarRazasResult" nillable="true" type="q1:ArrayOfRaza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarRazasPorTipo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="codTipo" type="xs:short" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="listarRazasPorTipoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WCF_Hunde" minOccurs="0" name="listarRazasPorTipoResult" nillable="true" type="q2:ArrayOfRaza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>