Win_Hunde/Connected Services/ProxyRaza/WCF_Hunde.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hunde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfRaza">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Raza" nillable="true" type="tns:Raza" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRaza" nillable="true" type="tns:ArrayOfRaza" />
  <xs:complexType name="Raza">
    <xs:sequence>
      <xs:element minOccurs="0" name="cod_raza" type="xs:short" />
      <xs:element minOccurs="0" name="cod_tipo" type="xs:short" />
      <xs:element minOccurs="0" name="nom_raza" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Raza" nillable="true" type="tns:Raza" />
</xs:schema>