Win_Hunde/Connected Services/ProxyCliente/WCF_Hunde.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCF_Hunde" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCF_Hunde" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" name="ape_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="apellidos_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cel_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="cod_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="direccion_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dni_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dueno" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="email_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="es_dueno" type="xs:short" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado_cli" type="xs:short" />
      <xs:element minOccurs="0" name="fec_reg_cli" type="xs:dateTime" />
      <xs:element minOccurs="0" name="fecha_ult_modificacion_cli" type="xs:dateTime" />
      <xs:element minOccurs="0" name="id_ubigeo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="nom_cliente" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usu_reg_cli" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usu_ult_modificacion_cli" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ClienteBE" nillable="true" type="tns:ClienteBE" />
  <xs:complexType name="ArrayOfClienteBE">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ClienteBE" nillable="true" type="tns:ClienteBE" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfClienteBE" nillable="true" type="tns:ArrayOfClienteBE" />
</xs:schema>